* {
  box-sizing: border-box;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardWrapper {
  border: 2px solid black;
  width: 300px;
  margin: 10px;
}

.imgWrapper {
  position: relative;
  width: inherit;
  height: 300px;
}

.img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: inherit;
}

.userCard {
  text-align: center;
}

.cardName {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/* .cardDescription {
} */

.initails {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: black; */
  color: white;
}

.initails:empty::after {
  content: "Unknown";
}

.icon {
  color: green;
}

.icon:hover {
  color: red;
}

.social {
  display: block;
  padding: 10px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin: 5px;
}
.social:hover {
  background-color: red;
}

.linkWrapper {
  display: flex;
  justify-content: center;
}
